*, *:hover, *:focus{
    box-sizing: border-box;
}
:root{
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --heading-color: #1b0760;
    --body-color: #918ca4;
    --body-darker-color: #5c5577;
}
html{
    font-size: 62.5%; /*10 pixels*/
}




/*typography*/
body{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: var(--body-color);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1, h2, h3{
    color: var(--heading-color);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;

}
p{
    margin-top: 0%;
}
@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.4rem;
    }
}




/*links*/
a{
    text-decoration: none;
}
.link-arrow{
    font-size: 2rem;
    color: var(--accent-color);
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin-left 0.2s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media  screen and (min-width: 1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
    
}




/*badges*/
.badge{
    font-size: 2rem;
    border-radius: 20px;
    white-space: nowrap;
    padding: 0.5rem 2rem;
    font-weight: 600;
    color: #fff;
}
.badge--primary{
    background: var(--primary-color);
}
.badge--secondary{
    background: var(--secondary-color);
}
.badge--small{
    font-size: 1.6rem;
}
@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}




/*lists*/
.list{
    padding-left: 0;
    list-style: none;
    color: var(--heading-color);
}
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;

}
.list--ticks{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
    margin-bottom: 1rem;
}
.list--ticks .list__item{
    padding-left: 0.5rem;
}
.list__item{
    margin-bottom: 2rem;
}
@media screen and (min-width: 1024px){
    .list--ticks .list__item{
        padding-left: 0.3rem;
    }
}




/*icons*/
.icon{
    width: 40px;
    height: 40px;
}
.icon--primary{
    fill: var(--primary-color);
}
.icon-container{
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    display: inline-flex;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
}




/*buttons*/
.button{
    padding: 1.3rem 10rem;
    border-radius: 40px;
    outline: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
}
.button:hover{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}
.button--dark{
    background: var(--heading-color);
    border: 2px solid var(--heading-color);
    color: #fff;
}
.button--outline{
    background: #fff;
    border: 2px solid var(--heading-color);
    color: #1b0760;
}
.button--outline:hover{
    background: #1b0760;
    color: #fff;
}
.button--light{
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #fff;
}
.button--light:hover{
    background: #00c8eb;
}
.button--accent{
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: #fff;
}
.button--accent:hover{
    background: #fd4156;
}
.btn--block{
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    width: 100%;
}
@media screen and (min-width: 1024px){
    .button{
        font-size: 1.5rem;
    }
}




/*inputs*/
.input{
    padding: 1rem 3rem;
    border: 2px solid #ccc;
    border-radius: 35px;
    outline: none;
    font-size: 2rem;
    color: var(--heading-color);
    /*this changes color of input text*/
}
.input-group{
    border: 2px solid #ccc;
    border-radius: 35px;
    display: flex;

}
.input-group .input{
    border: none;
    flex-grow: 1;
}
.input-group .button{
    margin: 0.5rem 0.5rem;
}
::placeholder{
    color: #cdcbd7;
}
@media screen and (min-width: 1024px){
    .input{
        font-size: 1.5rem;
    }
}




/*cards*/
.card{
    border-radius: 7px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card__header{
    color: #fff;
}
.card__header, .card__body{
    padding: 2rem 2rem;
}
.card__primary{
    background: var(--primary-color);

}
.card__secondary{
    background-color: var(--secondary-color);
}


/*plans*/
.plan__name{
    color: #fff;
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
}
.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 1rem;
}
.plan__slogan{
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    word-spacing: 2px;
}
.card .badge{
    background: #00c8eb;
    padding: 0.6rem 0.8rem;
}
.card .button{
    margin-top: 3rem;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    right: 5%;
    top: -6px;

}
.plan--popular .card__header{
    position: relative;
}
@media screen and (min-width:1024px){
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
    .plan__slogan{
        font-size: 1.7rem;
    }
}




/*media*/
.media{
    display: flex;
}
.media__icon{
    margin:2rem 2rem;
}
.media__title{
    margin-top: 0;
}




/*quotes*/
.quote{
    font-size: 3rem;
    color: var(--body-darker-color);
    font-style: italic;
}
.quote::before{
    content: open-quote;
}
.quote::after{
    content: close-quote;
}
.credentials .media{
margin-left: 2rem;
}
.credentials .media__title{
    margin-bottom: 0rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 550;
}
.credentials .media__body{
    margin-top: 0rem;
    font-size: 2rem;
    color: #cdcbd7;
}
@media screen and (min-width: 1024px){
    .quote{
        font-size: 2.4rem;
    }
    .credentials .media__title{
        font-size: 2.4rem;
    }
    .credentials .media__body{
        font-size: 1.6rem;
    }
}



/*grids*/
.grid{
    display: grid;
}
@media screen and (min-width: 768px){
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px){
    .grid--1x3{
        grid-template-columns: repeat(3, 1fr);
    }
}
