<div class="input-group">
  <input
    type="text"
    class="input"
    placeholder="Enter domain name here"
    maxlength="100"
  />
  <button class="button button--accent">Search</button>
</div>
<!-- with icons -->
<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="/images/sprite.svg#growth"></use>
  </span>
  <input
    type="text"
    class="input"
    placeholder="Enter domain name here"
    maxlength="100"
  />
  <button class="button button--accent">Search</button>
</div>