<div class="card testimonial card--shadow">
    <div class="grid grid--1x2">
      <div class="testimonial__image-container">
        <img
          class="testimonial__image"
          src="/images/testimonial.jpg"
          alt="profile image"
        />
        <span class="icon-container">
          <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
      </span>
      </div>
      <div>
          <blockquote class="quote">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero
              inventore architecto ipsum, impedit doloremque unde possimus! Impedit
              quibusdam consequatur, ea neque, dolore assumenda rerum error culpa cum
              ipsa reprehenderit.
            </blockquote>
            <div class="credentials">
                <div class="media">
                    <div class="media__icon">
                      <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#line"></use>
                      </svg>
                    </div>
                    <div class="media__content">
                      <h3 class="media__title">Abdulla Al-Sabti</h3>
                      <p class="media__body">
                        AASH Company.
                      </p>
                    </div>
                  </div>
            </div>
      </div>
    </div>
  </div>